$mainColor: #ff6000;

html, body {
  height: 100%;
}

a {
  color: currentColor;
}

.pb-5 {
  padding-bottom: 5rem;
}

.icon-clock,
.icon-commenting,
.icon-heart,
.icon-pen-angled,
.icon-location2,
.icon-star-empty {
  @extend .icon-margin-r;
}

.icon-margin-r {
  &:before {
    margin-right: 5px;
  }
}

.icon-heart-thumb {
  @extend .icon-heart;
  color: #ff8400 !important;
}

.icon-star-favorites {
  @extend .icon-star-full;
  color: #ff8400 !important;
}

.icon-us:before {
  content: "百";
}

.hd-wrap {
  height: 100%;
  max-width: 425px;
  margin: 0 auto;
}

.hd-wrap-inner {
  position: relative;
  background: #e5e5e5;
  min-height: 100%;
  overflow: hidden;
}

.vip {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    right: -4px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: url("../image/icon/vip.png");
    background-size: 100% 100%;
  }
}

.zmt-avatar,
.zmt-avatar-big {
  position: relative;
  border-radius: 50%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.zmt-avatar {
  width: 2rem;
  height: 2rem;
}

.zmt-avatar-big {
  width: 3.125rem;
  height: 3.125rem;
}

.page {
  position: relative;
  min-height: 100%;
  background: #f7f7f7;
}

.inset-block-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.zmt-btn {
  padding: .5rem 1rem;
  border-radius: 6px;
  color: white;
  background: #ff8400;
}

.zmt-nav {
  padding: .5rem 1rem;
  color: #8b8b8b;
  background: #e3e3e3;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.4;
  box-sizing: border-box;
  margin: 0;
}

.zmt-nav-back {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0;
  font-weight: normal;
  text-align: center;
  color: #666;
  z-index: 10;
  border-bottom: 1px solid #eaeaea;
  span {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 1rem;
    font-size: 1.4rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  a {
    color: #666;
  }
}

/********** article comment box **********/

.zmt-comment-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 425px;
  background: white;
  border-top: 1px solid #ececec;
  z-index: 10;
  box-sizing: border-box;
  color: #b8b8b8;
}

.zmt-comment-box-top {
  padding: .5rem;
  span {
    vertical-align: middle;
    box-sizing: border-box;
    &:nth-child(1) {
      border: 1px solid #ddd;
      padding: .5rem;
      border-radius: 6px;
      width: 60%;
    }
    &:nth-child(n+2) {
      margin-left: 3%;
      text-align: center;
    }
  }
  span {
    &:only-child {
      width: 100%;
    }
  }
}

.zmt-comment-modal {
  padding: 0 .8rem .8rem;
  background: #e6e6e6;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 100;
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.4;
    height: 5.6rem;
    box-shadow: inset 0 0 1px 0 #7d7d7d;
  }
  &.open {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  input[type=submit] {
    padding: 0;
    -webkit-appearance: none;
    border: none;
    background: #e6e6e6;
  }
}

.zmt-comment-bar {
  padding: .8rem 0;
  color: #666;
  text-align: center;
  span {
    font-size: .875rem;
    margin-top: .1rem;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}

/********** top search box **********/

.search-box {
  width: 100%;
  background: #f7f7f7;
  padding: .5rem;
  box-shadow: 0 1px 1px 0 #e8e8e8;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  @include flex-container();
  @include flex-direction-h();
  span {
    vertical-align: middle;
  }
  .search-keyword {
    position: relative;
    width: 65%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
    @include flex-container();
    @include flex-direction-h();
    .clear {
      display: none;
      position: relative;
      top: 2px;
      width: 2rem;
      height: 2rem;
      background: url(../image/icon/clear.png) center no-repeat;
      background-size: 50%;
      z-index: 10;
    }
  }
  .search-return {
    color: #878787;
    font-size: 1.4rem;
    width: 1.4rem;
    text-align: center;
    padding: .5rem;
    padding-left: 0;
  }
  .search-cancel {
    min-width: 2rem;
    padding: .5rem;
    @include flex-item(1);
    color: #878787;
    text-align: center;
  }
  input {
    @include flex-item(1);
    padding: 0 6px;
    border: none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
  }
  .search-btn {
    min-width: 2rem;
    color: #ff6100;
    padding: .5rem;
    @include flex-item(1);
    text-align: center;
  }
}

/********** modal **********/

.baiger-modal {
  .modal-content {
    border-radius: 0;
    color: #666;
  }
  .modal-header {
    border: none;
    border-top: 2px solid #ff8400;
    overflow: hidden;
  }
  .modal-body {
    text-align: center;
    padding-top: 0;
    margin-top: -15px;
  }
  .modal-title {
    color: #ff8400;
    font-size: 1.2rem;
  }
  .modal-btn {
    width: 3rem;
    padding: .5rem 1rem;
    background: #ff8400;
    color: white;
    margin: 2rem 1rem 1rem;
  }
}

/********** headroom **********/

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

@-webkit-keyframes ani-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ani-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sound-rotate {
  -webkit-animation: ani-rotate 3s linear infinite;
  animation: ani-rotate 3s linear infinite;
}

@-webkit-keyframes ani-speaker {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -102px 0;
  }
}

@keyframes ani-speaker {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -102px 0;
  }
}

.speaker {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 28px;
  background: url(../image/icon/speaker.png);
  -webkit-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
  &.active {
    -webkit-animation: ani-speaker 1s steps(3) infinite;
    animation: ani-speaker 1s steps(3) infinite;
  }
}

.new-message {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    background: #ff6000;
    border-radius: 50%;
  }
}

