@charset "UTF-8";
@import "base/reset";
@import "base/common";
@import "component/font";
@import "component/modal";
@import "component/swiper";
@import "baiger";

/********** article.html ************/

.article-container {
  position: relative;
  padding-bottom: 5rem;
  background: #f7f7f7;
}

.article-channel-wrap {
  position: fixed;
  background: #f7f7f7;
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 425px;
  z-index: 10;
}

.article-return,
.article-plus {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  box-shadow: 0 0px 6px 0 #c1c0c0;
  font-size: 1.6rem;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.article-return {
  left: 0;
  top: 0;
  a {
    color: #ff7e00;
  }
}

.article-plus {
  right: 0;
  top: 0;
}

.article-channel {
  position: relative;
  overflow: auto;
  margin: 0 2.75rem;
  height: 2.75rem;
  ul {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
  }
  li {
    position: relative;
    float: left;
    padding: 0.875rem 0;
    width: 20%;
    box-sizing: border-box;
    &.active {
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 80%;
        height: 2px;
        background: #ff7e00;
        bottom: 8px;
        left: 10%;
      }
    }
  }
  a {
    color: #444444;
  }
}

article {
  overflow: hidden;
  padding-top: 2.75rem;
}

.article-cover {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  h3 {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    padding: .5rem 1.5rem;
    margin: 0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
    font-size: 1.25rem;
    line-height: 1.4;
  }

}

.article-header {

  position: relative;
  margin: .5rem 1rem;
  overflow: hidden;
  border-bottom: 1px dotted #bbb;
  padding-bottom: 6px;

  span {
    vertical-align: middle;
    margin-right: 4px;
    &:nth-child(1) {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      img {
        border-radius: 50%;
        display: block;
      }
    }
    &:nth-child(2) {
      padding: 0 2px;
      font-size: .85rem;
    }
    &:nth-child(3) {
      font-size: .8rem;
      color: #666;
      font-size: .8rem;
    }
    &:nth-child(4) {
      color: #9f9f9f;
      font-size: .8rem;
    }
  }

}

.article-content {
  color: #333333;
  //padding-bottom: 0;
  line-height: 1.6;
  padding: 0 1rem 0;
  p {

  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.article-copy {
  color: #666666;
  padding: 0 1rem;
  line-height: 1.4;
}

.article-tags {
  padding: 1rem 1rem 2rem;
  font-size: 0.8rem;
  color: #666;
  > span {
    background: #fff;
    padding: 4px .5rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-right: 4px;
  }
}

.article-feedback-link {
  background: #999;
  color: white;
  padding: 4px .5rem;
  border-radius: 1rem;
  float: right;
}

.article-stars {
  text-align: center;

  color: #999;
}

.stars-wrap {
  font-size: 1.5rem;

  .star {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      content: "\e9d7";
    }
    margin: 0 3px;
  }

  &.star_1 {
    .star {

      &:nth-child(1) {
        color: #ff8400;
        &:before {
          content: "\e9d9";
        }
      }
      &:nth-child(n+2) {

        &:before {
          content: "\e9d7";
        }
      }
    }
  }

  &.star_2 {
    .star {

      &:nth-child(1),
      &:nth-child(2) {
        color: #ff8400;
        &:before {
          content: "\e9d9";
        }
      }
      &:nth-child(n+3) {

        &:before {
          content: "\e9d7";
        }
      }
    }
  }

  &.star_3 {
    .star {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        color: #ff8400;
        &:before {
          content: "\e9d9";
        }
      }
      &:nth-child(n+4) {

        &:before {
          content: "\e9d7";
        }
      }
    }
  }

  &.star_4 {
    .star {

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        color: #ff8400;
        &:before {
          content: "\e9d9";
        }
      }
      &:nth-child(n+5) {

        &:before {
          content: "\e9d7";
        }
      }
    }
  }

  &.star_5 {
    .star {
      color: #ff8400;
      &:before {
        content: "\e9d9";
      }
    }
  }

}

.stars-count {
  font-size: .8rem;
  padding: 1rem;
  span {
    color: #ff8400;
  }
}

.article-reward {
  display: table;
  margin: 0 auto;
  margin-top: -0.5rem;
  overflow: hidden;
  > div {
    float: left;
    min-width: 6rem;
    margin: .5rem;
    text-align: center;
  }
  a {
    display: block;
    margin-bottom: 10px;
    color: #777;
    font-size: .8rem;
    width: 9rem;
    text-align: center;
    padding: 8px 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
  }

  .reward {
    a:first-child {
      color: white;
      background: #ff8400;
      border: 1px solid currentColor;
    }
    a:last-child {
      span {
        color: #ff8400;
      }
      em {
        font-style: normal;
        color: #666;
        font-size: 12px;
        margin: 0 4px;
      }
    }
  }

  .whisper {
    a:first-child {
      color: #999999;
      background: white;
      border: 1px solid currentColor;
    }
    a:last-child {
      span {
        color: #ff8400;
      }
      em {
        font-style: normal;
        color: #666;
        font-size: 12px;
        margin: 0 4px;
      }
    }
  }
}

.article-related {
  overflow: hidden;
  text-align: center;
  h3 {
    position: relative;
    color: #666666;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      width: 50%;
      background: #e8e8e8;
      top: 50%;
    }
    &:before {
      left: -3.2rem;
    }
    &:after {
      right: -3.2rem;
    }
  }
}

.article-related-list {
  .item {
    position: relative;
    margin: 1rem;
    height: 5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;

  }
  .item-cover {
    float: left;
    width: 7rem;
    height: 5rem;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
  .item-title {
    height: 2.8rem;
    color: #454545;
    font-weight: normal;
    padding-left: .5rem;
    text-align: left;
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
  }

  .item-author {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: .5rem;
    font-size: .8rem;
    color: #666;
    padding-left: 7.5rem;
    box-sizing: border-box;
    text-align: left;
    span {
      margin-right: 5px;
      max-width: 8em;
      &:nth-child(1) {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 4px #d4d4d4;
      }
    }
  }
}

.all-article-channels {
  position: fixed;
  width: 100%;

  height: 100%;
  top: 0;
  left: 100%;
  z-index: 20;
  overflow: hidden;
  background: #e3e3e3;
  color: #444;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all .8s;
  transition: all .8s;

  &.open {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .8s;
    transition: all .8s;
  }

  p {
    background: #f7f7f7;
    text-align: center;
    padding: 0.775rem;
    margin: 0;
    font-size: 1.2rem;
  }
  ul {
    overflow: hidden;
    padding: 1rem 2rem;
  }
  li {
    float: left;
    width: 18%;
    text-align: center;
    padding: .3rem 0;
    border-radius: 1rem;
    margin: .5rem 1%;
    &.active {
      background: #ff7e00;
      a {
        color: white;
      }
    }
  }
  a {
    color: #444;
  }
}

.close-channels {
  width: 4rem;
  margin: 0 auto;
  color: #ff7e00;
  border: 1px solid currentColor;
  background: white;
  text-align: center;
  padding: .3rem 0;
  border-radius: 1rem;
}

.comment-list {
  padding: 1rem;
  //padding-bottom: 5rem;
  background: #f7f7f7;
  .comment-item {
    margin-bottom: 1rem;
    &.author {
      .comment-name {
        color: #ff8400;

      }
    }
  }

  .comment-top {
    position: relative;
    overflow: hidden;
    dl {
      margin: 0;
      float: left;
      line-height: 1.4;
    }
    dt {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;
      float: left;
    }
    dd {
      color: #666;
      &:nth-of-type(1) {
        font-size: .8rem;
        margin-bottom: 4px;
      }
      &:nth-of-type(2) {
        font-size: .75rem;
      }

    }

    ul {
      position: absolute;
      color: #b8b8b8;
      right: 1rem;
      bottom: 40%;
      a {
        color: currentColor;
      }
      li {
        float: left;
        margin: 0 0 0 1rem;
        font-size: .8rem;
        &.active {
          &:before {
            color: #ff8400;
          }
        }
      }
    }
  }

  .comment-bottom {
    color: #333;
    line-height: 1.4;
    font-size: .875rem;
    margin: .5rem 0 0 2.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px dotted #ddd;
  }
  .comment-reply-name {
    strong {
      color: #61b3f5;
      margin-left: 4px;
    }
  }
}

.article-comment-btn {
  display: none;
  padding: .5rem 2rem;
  background: #ff8400;
  color: white;
  float: right;
  margin-top: .5rem;
}

.comment-view {
  width: 4rem;
  padding: .5rem 1rem;
  background: #ff8400;
  border-radius: 4px;
  margin: 0 auto;
  a {
    color: white;
  }
}

/********** article-reward-view.html ************/

.article-reward-view-page {
  overflow: hidden;
  min-height: 100%;
  background: #f7f7f7;
}

.article-reward-view-list {
  li {
    position: relative;
    border-bottom: 1px dotted #ddd;
    padding: .5rem 0;
    margin: 0 1rem;
    color: #666;
    font-size: .875rem;
    span {
      vertical-align: middle;
      &:nth-child(1) {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
      }
      &:nth-child(3) {
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: .8rem;
      }
    }
  }
}

/********** article-reward.html ************/

.article-reward-page {
  overflow: hidden;
  min-height: 100%;
  background: #f7f7f7;
  p {
    color: #666;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: center;
    margin: 3rem auto 2rem;
  }
}

.article-reward-wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.reward-default {
  padding: .8rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  font-size: 1.125rem;
  background: #ff8400;
}

.reward-other-price {
  width: 80%;
  margin: 2rem auto;
  color: #666;
  dt {
    margin-bottom: 1rem;
  }
  dd {
    display: inline-block;
    float: left;
    background: white;
    width: 30%;
    padding: .5rem 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    text-align: center;
    color: #ff8400;
    border-radius: 6px;
    &:nth-of-type(2) {
      margin: 0 5%;
    }
    &:last-child {
      color: #666;
    }
  }
}

.reward-define {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  background: #f7f7f7;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3rem;
}

.reward-box {
  input {
    @extend .clear-input;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 80%;
    box-sizing: border-box;
  }
}

.reward-btn {
  @extend .zmt-btn;
  width: 80%;
  margin: 2rem auto;
  box-sizing: border-box;
  padding: .8rem;
}

.reward-close {
  position: absolute;
  font-size: 1.4rem;
  color: #666;
  right: 1rem;
  top: 4rem;
}

/********** article-comment.html ************/

.article-comment-page {

}

/********** article-gallery.html ************/

.article-gallery-page {
  position: relative;
  height: 100%;
  overflow: hidden;

  .swiper-slide {
    background: #333;
    overflow: hidden;
    img {
      position: absolute;
      display: block;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.article-gallery-page.last-page {

  .gallery-bottom {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .gallery-desc {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
  }
  .gallery-back {
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
  }
}

::-webkit-scrollbar {
  display: none;
}

.gallery-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: .8rem 1rem;
  border-top: 1px solid #424242;
  box-sizing: border-box;
  background: #222;
  color: #999;
  z-index: 10;
  overflow: auto;
  -webkit-transition: all .5s;
  transition: all .5s;
  .inner {
    width: 30rem;
    overflow: hidden;
  }
  span {
    padding: .5rem 0;
    margin-right: 1rem;
    vertical-align: middle;
    line-height: 1rem;
    box-sizing: border-box;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 4rem;
      text-align: center;
      border: 1px solid currentColor;
      border-radius: 4px;
      font-size: .875rem;
    }

  }
}

.gallery-desc {
  position: absolute;
  width: 100%;
  bottom: 3.6rem;
  z-index: 5;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.gallery-desc-content {
  line-height: 1.8;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  h3 {
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  .middle {
    position: relative;
    padding-bottom: .5rem;
    span {
      vertical-align: middle;
      &:nth-child(1) {

        width: 1.6rem;
        height: 1.6rem;
        img {
          display: block;
          border-radius: 50%;
        }
      }
      &:nth-child(2) {
        margin-left: .2rem;
        font-size: .875rem;

      }
      &:nth-child(3) {
        font-size: .8rem;
        margin-left: .5rem;
      }
      &:nth-child(4) {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: .8rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
  .bottom {
    height: 7.2rem;
    overflow: scroll;
    > span {
      float: left;
    }
    p {
      margin: 0;
    }
  }
}

.gallery-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  width: 2rem;
  height: 2rem;
  background: #545454;
  line-height: 2rem;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 50%;
  display: block;
  color: #ddd;
  -webkit-transition: all .5s;
  transition: all .5s;

}

.recommend-gallery {
  height: 100%;
  background: #333;
  overflow: hidden;
  padding: 0 1rem;
  @include flex-container();
  @include flex-direction-v();
  h3 {
    color: #999;
  }
  > div {
    position: relative;
    height: 100%;
    overflow: hidden;
    @include flex-item(1);
  }

  .item {
    width: 48%;
    box-sizing: border-box;
    height: 27%;
    margin-bottom: 5%;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 6px;
    &:first-child,
    &:last-child {
      width: 100%;
    }
    &:nth-child(2) {
      margin-right: 2%;
    }
    &:nth-child(3) {
      margin-left: 2%;
    }
    box-sizing: border-box;
    img {
      display: block;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    h3 {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 0 1rem .5rem;
      box-sizing: border-box;
      background: -webkit-linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 100%);
      color: white;
      margin: 0;
      line-height: 1.4;
      font-weight: normal;
      font-size: .9rem;
    }
  }
}

/********** msg-comment.html ************/

.msg-comment-page {
  background: #e5e5e5;
  .zmt-nav-back {
    background: #f7f7f7;
  }
}

.msg-comment-list {
  .item {
    position: relative;
    padding: .5rem 1rem;
    background: #f7f7f7;
    overflow: hidden;
    margin-top: .5rem;
    line-height: 1.4;
    font-size: .875rem;
    .left {
      position: relative;
      float: left;
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem;
      i {
        position: absolute;
        top: -4px;
        right: -.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        color: white;
        background: #ff8400;
        font-size: 12px;
        text-align: center;
        font-style: normal;
        padding: 2px;
      }
    }
    .right {
      margin-left: 4.2rem;
      .top {
        padding: 0.2rem 0;
        color: #666;
        span {
          font-size: 1rem;
          color: #333;
          display: inline;
        }
      }
      .bottom {
        color: #999;
        height: 1.225rem;
        @extend .txt-overflow;
        span {
          color: #666;
        }
      }
    }
  }

}

/********** msg-comment-r.html ************/

.msg-comment-head {
  background: #f7f7f7;
  overflow: hidden;
  font-size: 0.875rem;
  color: #666;
  padding: 0 1rem;
  border-bottom: .5rem solid #e3e3e3;
  span {
    font-size: 1rem;
    color: #333;
  }
}

.comment-list.reader {
  padding: 0;
  padding-bottom: 1rem;
  .comment-item {
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    &.me {
      background: white;
      .comment-name {
        color: #ff8400;
      }
    }
  }
}

.msg-comment-reply {
  position: absolute;
  right: 0;
  background: #ffae00;
  color: white;
  padding: 4px 1rem;
  font-size: .8rem;
  border-radius: 4px;
}

/********** msg-comment-r-d.html ************/

.comment-at {
  color: #ff8400;
  margin-right: 4px;
}

/********** msg-comment-a.html ************/

.comment-list.author {
  .comment-item {
    &.me {
      .comment-name {
        color: #ff8400;
      }
    }
  }
}

/********** msg-comment-a-d.html ************/

.comment-list.author {
  .comment-item {
    .comment-bottom {
      border-bottom: none;
    }
    &:only-child {
      margin-bottom: 0;
    }
  }
}

/********** article-feedback.html ************/

.feedback-form {
  .form-item {
    padding: 0 1.5rem;
    margin-top: 1rem;
    span {
      position: relative;
      margin-right: 8px;
    }
    label {
      display: inline;
      vertical-align: 2px;
      color: #666;
    }
    input[type=checkbox] {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    i {
      display: block;
      width: 1rem;
      height: 1rem;
      background-image: url("../image/icon/icon-unchecked.png");
      background-size: 100% 100%;
    }
    input[type=checkbox]:checked + i {
      background-image: url("../image/icon/icon-checked.png");
    }
    input[type=submit] {
      width: 100%;
      padding: .8rem 0;
      background: #ff8400;
      color: white;
      font-size: 18px;
      border-radius: 6px;
      margin-bottom: 3rem;
    }
    textarea {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      box-sizing: border-box;
      line-height: 1.4;
      height: 5.6rem;
    }
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
  .hd-wrap-inner {
    min-height: 504px;
  }
}
