@charset "UTF-8";
@import "base/reset";
@import "base/common";
@import "component/modal";
@import "component/font";
@import "base/zimeiti";

.profile-page {
  min-height: 100%;
  background: #f7f7f7;
}

.profile-banner {
  position: relative;
  background: #f7f7f7 url("../image/figure.png");
  background-size: cover;
  padding: 2rem 1rem 1rem;
  overflow: hidden;
  color: #666;
  min-height: 10rem;
  box-sizing: border-box;
}

.profile-avatar {
  float: left;
  span {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.profile-name {
  padding-top: .5rem;
  span {
    &:first-child {
      color: black;
      font-weight: bold;
      margin-right: .5rem;
    }
    &:last-child {
      font-size: .8rem;
      &:before {
        color: #ffa800;
      }
    }
  }
}

.profile-desc {
  line-height: 1.4;
  font-size: .875rem;
  padding-left: 6rem;
}

.profile-nav {
  background: white;
  overflow: hidden;
  span {
    position: relative;
    float: left;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    box-sizing: border-box;
    color: #666;
    a {
      display: block;
      color: currentColor;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      width: 33.33333333%;
    }
    &:nth-child(4),
    &:nth-child(5) {
      width: 50%;
      border-bottom: 1px solid #eaeaea;
    }
    &:nth-child(3),
    &:nth-child(5) {
      border-right: none;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        width: 4rem;
        background: #ff8400;
        bottom: 0;
        left: 50%;
        margin-left: -2rem;
      }
    }
  }
  em {
    display: block;
    font-style: normal;
    color: #999;
    font-size: .8rem;
    padding-top: .2rem;
  }
}

.profile-nav {
  span:nth-child(1):nth-last-child(2),
  span:nth-child(1):nth-last-child(2) + span {
    width: 50%;
    border-bottom: 1px solid #eaeaea;
  }
}

.dynamic-day {
  h4 {
    margin: 0;
    padding: 1rem;
    font-weight: normal;
    background: #e5e5e5;
    color: #666;
    font-size: .875rem;
  }
}

.dynamic-list {
  padding: 1rem;
}

.dynamic-item {
  position: relative;
  margin-left: 2.4rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  .top {
    overflow: hidden;
    margin-bottom: 1rem;
    padding-top: .5rem;
    span {
      float: left;
      font-size: .875rem;
      color: #666;
      margin-right: .5rem;
    }
    h3 {
      height: .875rem;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1;
      font-size: .875rem;
      font-weight: normal;
    }
  }
  .bottom {
    position: relative;
    background: #eee;
    padding: .8rem;
    font-size: .875rem;
    color: #555;
    line-height: 1.4;
    > p {
      margin: 0;
      &:before {
        content: "";
        display: block;
        position: absolute;
        border: 8px solid transparent;
        border-bottom: 8px solid #eee;
        border-top: none;
        top: -8px;
        left: 5.5rem;
      }
    }
    > span {
      vertical-align: middle;
      &:nth-child(1) {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        img {
          display: block;
          border-radius: 50%;
        }
      }
      &:nth-child(2) {
        color: black;
      }
      &:nth-child(3) {
        font-size: .8rem;
      }
    }
  }

  time {
    display: block;
    color: #999;
    font-size: .8rem;
    margin-top: 1rem;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 106%;
    background: #ddd;
    left: -1.6rem;
    top: 1.6rem;
  }
}

.dynamic-favorite,
.dynamic-comment,
.dynamic-follow,
.dynamic-doc {
  &:before {
    position: absolute;
    left: -2.4rem;
    color: white;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    border-radius: 50%;
    line-height: 1.6rem;
    font-size: .8rem;
    z-index: 10;
  }
}

.dynamic-doc {
  &:before {
    background: #ba69c8;
  }
}

.dynamic-favorite {
  &:before {
    background: #ff8400;
  }
}

.dynamic-comment {
  &:before {
    background: #00baff;
  }
}

.dynamic-follow {
  &:before {
    background: #f46c60;
  }
}

.profile-list {
  ul {
    padding-bottom: 2rem;
  }
  li {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    padding-left: 4.6rem;
    a {
      display: block;
      color: #333;
      overflow: hidden;
    }
    span {
      float: right;
      color: #ff8400;
      &:after {
        font-family: "icomoon";
        content: "\e910";
        color: #bdbdbd;
        margin-left: .5rem;
        vertical-align: -2px;
        font-size: 1.2rem;
      }
    }
    &:before {
      position: absolute;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      left: 2rem;
      top: 50%;
      margin-top: -0.8rem;
      border-radius: 50%;
      text-align: center;
      line-height: 1.6rem;
      color: white;
      font-size: .8rem;
    }
    &.icon-home {
      &:before {
        background: #ff8400;
      }
    }
    &.icon-mail-envelope-closed {
      &:before {
        background: #9ac743;
      }
    }
    &.icon-star-full {
      &:before {
        background: #cb5475;
      }
    }
    &.icon-more_horiz {
      &:before {
        background: #5b829b;
      }
    }
    &.icon-add {
      &:before {
        background: #f8715e;
      }
    }
    &.icon-eye {
      &:before {
        background: #698afe;
      }
    }
    &.icon-chat {
      &:before {
        background: #eeae4a;
      }
    }
    &.icon-file-text {
      &:before {
        background: #ba69c8;
      }
    }
    &.icon-moneybag {
      &:before {
        background: #d82d8e;
      }
    }
  }
}

//******************profile-author.html********************

.profile-author-banner {
  position: relative;
  background: #f7f7f7 url("../image/figure.png");
  background-size: cover;
  padding: 2rem 1rem 1rem;
  overflow: hidden;
  color: #666;
  min-height: 10rem;
  box-sizing: border-box;
}

.profile-author-avatar {
  text-align: center;
  span {
    vertical-align: middle;
    &:nth-child(2) {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      padding: 4px;
      background: white;
      box-sizing: border-box;
      margin: 0 2rem;
      box-shadow: 1px 1px 1px 0 #989898;
    }

    &:nth-child(1),
    &:nth-child(3) {
      color: #ff8400;
      background: white;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      padding: .2rem;
      border: 2px solid #a5a5a5;
      font-weight: bold;
    }

  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .vip {
    &:after {
      right: 12px;
      width: 24px;
      height: 20px;
    }
  }
}

.profile-author-name {
  padding-top: .5rem;
  text-align: center;
  span {
    &:first-child {
      color: black;
      font-weight: bold;
    }
    &:last-child {
      display: block;
      font-size: .8rem;
      margin-top: 1rem;
      &:before {
        color: #ffa800;
      }
    }
  }

}

.profile-author-desc {
  line-height: 1.4;
  font-size: .875rem;
  padding: 0 1rem;
}

//******************profile-center.html********************

.profile-center-page {
  min-height: 100%;
  background: #e5e5e5;
  .profile-list {
    margin-top: .5rem;
    li {
      background: #f7f7f7;
    }
    li:last-child {
      margin-top: 1rem;
    }
  }
}

.profile-center-banner {
  position: relative;
  background: -webkit-linear-gradient(45deg, #405263 0, #878994 100%);
  background: linear-gradient(45deg, #405263 0, #878994 100%);
  background-size: cover;
  padding: 1rem;
  overflow: hidden;
  color: white;
  min-height: 10rem;
  box-sizing: border-box;
}

.profile-center-avatar {
  position: relative;
  text-align: center;
  span {
    position: relative;
    font-size: 1.2rem;
    &:nth-child(2) {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin: 0 2rem;
    }

    &:nth-child(1),
    &:nth-child(3) {
      color: rgb(146, 146, 146);
      background: #293039;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 50%;
      font-weight: bold;
    }
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(3) {
      float: right;
    }

  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .vip {
    &:after {
      right: 0px;
      width: 24px;
      height: 20px;
    }
  }
}

.profile-center-name {
  padding-top: .5rem;
  text-align: center;
  span {
    &:first-child {
      font-weight: bold;
    }
    &:last-child {
      display: block;
      font-size: .8rem;
      margin-top: 1rem;
      &:before {
        color: #ffa800;
      }
    }
  }

}

//******************profile-center-author.html********************

.profile-center-author-page {
  min-height: 100%;
  background: #e5e5e5;
  .profile-list {
    margin-top: .5rem;
    li {
      background: #f7f7f7;
    }
    li:nth-last-child(2) {
      margin-top: 1rem;
    }
  }
}

//******************profile-wallet.html********************

.profile-wallet-page {
  @extend .page;
}

.wallet-list {
  color: #ff8400;
  font-size: .875rem;
  overflow: hidden;
  a {
    float: right;
    color: currentColor;
    padding: 1rem 2rem;
  }
}

.wallet-count {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 5px solid #ff8400;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 2rem auto;
  background: white;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #ff8400;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
  }
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  span {
    &:first-child {
      color: #666;
      display: block;
      margin-bottom: .5rem;
    }
    &:last-child {
      font-size: 1.5rem;
      color: #ff8400;
    }
  }
}

.wallet-withdraw {
  text-align: center;
  margin-top: 3rem;
  span {
    background: #ff8400;
    color: #fff;
    width: 74%;
    padding: .6rem;
    border-radius: 6px;
    text-align: center;
    font-size: 1.125rem;
  }
}

//******************profile-message.html********************

.profile-message-page {
  @extend .page;
}

.message-list {

}

.message-item {
  position: relative;
  color: #666;
  font-size: 0.875rem;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  line-height: 1.4;
  .avatar {
    position: absolute;
    span {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
    }
    img {
      display: block;
      border-radius: 50%;
    }
    .icon-bell {
      background: #099999;
      color: white;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      text-align: center;
      line-height: 1.6rem;
    }
  }
  .content {
    padding-left: 3rem;
  }
  .top {
    margin-bottom: .5rem;
    overflow: hidden;
    span {
      &:nth-child(2) {
        float: right;
        font-size: .8rem;
      }
    }
  }
  .bottom {
    @include flex-container();
    span {
      &:first-child {
        margin-right: .5rem;
      }
      &:last-child {
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include flex-item(1);
      }
    }
  }
  time {
    font-size: .8rem;
    color: #999;
  }
}

.message-item.read {
  color: #999;
  .icon-bell {
    background: #999;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
  .hd-wrap-inner {
    min-height: 504px;
  }
}