@charset "UTF-8";
@import "base/reset";
@import "base/common";
@import "component/modal";
@import "component/swiper";
@import "component/font";
@import "baiger";

/********** index.html **********/

.swiper-container {
  height: 13rem;
}

.swiper-pagination-bullet {
  background: #939496;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $mainColor;
}

.home-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  .user {
    position: relative;
    float: left;
    width: 1.75rem;
    height: 1.75rem;
    background: #666;
    border-radius: 50%;
    text-align: center;
    line-height: 1.75rem;
    color: white;
    padding: 2px;
  }
  .user.new-message {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 6px;
      height: 6px;
      background: $mainColor;
      border-radius: 50%;
    }
  }
  .user-avatar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
    img {
      border-radius: 50%;
    }
  }
  .tag {
    float: left;
    font-size: 0.875rem;
    color: white;
    padding: 0.3rem 0.5rem;
    margin-left: 1rem;
    background: $mainColor;
    border-radius: 10px;
    i {
      margin-left: 6px;
    }
  }
  .tag-panel {
    position: absolute;
    height: 9.625rem;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    top: -11.625rem;
    left: 0;
    padding: 1rem 0;
    text-align: center;
    -webkit-transition: all 0.8s;
    -webkit-transform: translateY(0);
    transition: all 0.8s;
    transform: translateY(0);
    overflow: hidden;
    &.open {
      overflow: initial;
      -webkit-transition: all 0.8s;
      -webkit-transform: translateY(100%);
      transition: all 0.8s;
      transform: translateY(100%);
    }
    ul {
      width: 20rem;
      margin: auto;
      text-align: left;
    }
    li {
      display: inline-block;
      padding: .3rem 1rem;
      border-radius: 1rem;
      margin: .5rem;
      &.active {
        background: $mainColor;
      }
    }
  }

  .tag-btn {
    color: $mainColor;
    border: 1px solid currentColor;
    padding: .3rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .search {
    float: right;
    width: 1.75rem;
    height: 1.75rem;
    box-sizing: border-box;
    background: #24211e;
    color: white;
    padding: .4rem;
    border-radius: 50%;
    margin-top: -0.2rem;
    a {
      color: currentColor;
    }
  }
}

.banner-content {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  color: white;
}

.banner-avatar {
  width: 2.4rem;
  height: 2.4rem;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  padding: 1px;
  margin-top: 2px;
  background: white;
  > img {
    display: block;
    border-radius: 50%;
  }
}

.banner-title {
  padding-left: 3rem;
  span {
    font-size: 0.75rem;
    font-style: italic;
  }
  > p {
    font-size: 1.5rem;
    margin: 0;
    padding: 2px 0 .8rem;
    line-height: 1;
  }
}

.home-article-container {
  padding: 0.5rem;
}

.home-article {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 #bdbdbd;
  padding-bottom: 0;
  margin-bottom: .5rem;
  overflow: hidden;
}

.home-article-author {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    margin-right: 4px;
  }
}

.home-article-header {
  position: relative;
  .title {
    padding: .7rem;
    padding-bottom: 0;
    .img-set {
      color: #ff8400;
      font-size: 0.8rem;
      margin-left: 1rem;
    }
    .time {
      color: #9f9f9f;
      font-size: 0.8rem;
      float: right;
      margin-top: 4px;
      &:before {
        margin-right: 4px;
      }

    }
  }
  .cover {
    margin: -0.7rem;
    margin-bottom: auto;
    height: 10rem;
    overflow: hidden;
    img {
      display: block;
    }
  }
  .video {
    video {
      width: 100%;
      display: block;
    }
  }
  .audio {
    position: relative;
    overflow: hidden;
    padding: .7rem;
    width: 100%;
    box-sizing: border-box;
    .audio-btn {
      color: #828c97;
      float: left;
      font-size: 1.6rem;
      span {
        vertical-align: -1px;
      }
    }
    .audio-speaker {
      position: relative;
      width: 88%;
      height: 1.6rem;
      background: #fafafa;
      float: left;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-left: .5rem;
    }
    .audio-time {
      position: absolute;
      color: #9b9b9b;
      font-size: .8rem;
      letter-spacing: 2px;
      right: 2rem;
      top: 50%;
      margin-top: -2px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.home-article-header.with-cover,
.home-article-header.with-video {
  .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: .7rem;
    box-sizing: border-box;
    color: white;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    background: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
  }
}

.home-article-guide {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.4;
  padding: 0 0.7rem;
  > span {
    float: left;
    color: black;
  }
}

.home-article-author {
  position: relative;
  background: #f7f7f7;
  padding: .5rem .7rem;
  overflow: hidden;
  > div {
    position: absolute;
    color: #666;
    font-size: 0.8rem;
    bottom: .7rem;

    right: .7rem;
    span {
      margin-left: .5rem;
    }

  }
  .author-avatar {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    img {
      border-radius: 50%;
      display: block;
    }
  }
  .author-name {
    vertical-align: 30%;
    padding: 0 2px;
  }
  .author-identity {
    font-size: .8rem;
    color: #666;
    vertical-align: 40%;
  }
}

.home-view-more {
  background: #fcc86e;
  color: white;
  text-align: center;
  padding: .5rem;
  margin: 0 .7rem 3rem;
  font-size: 0.8rem;
}

/********** search-page.html **********/

.search-page {
  min-height: 100%;
  @include flex-container();
  @include flex-direction-v();
}

.search-content {
  background: #f7f7f7;
  box-sizing: border-box;
  @include flex-item(1);
}

.search-header {
  color: #999999;
  background: white;
  padding: .8rem 1rem;
  border-bottom: 1px dashed #e4e4e4;
}

.search-list {
  padding-top: .5rem;
  padding-bottom: 4rem;
}

.search-item {
  width: 90%;
  margin: 0 auto;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ddd;
  h3 {
    color: #454545;
    margin: .8rem 0;
    font-weight: normal;
    font-size: 1rem;
  }
  span {
    color: #666666;
    vertical-align: middle;
    margin-right: .5rem;
    font-size: .8rem;
    &:nth-child(1) {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 1px 1px 2px 0 #ddd;

    }

    &:nth-child(3) {
      &:before {
        color: #b8b8b8;
        margin-right: 5px;
      }
    }
  }
}

/********** fans.html **********/

.fans-list {
}

.fans-item {
  position: relative;
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px dashed #ddd;
  line-height: 1.4;
  span {
    &:nth-child(1) {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      img {
        display: block;
        border-radius: 50%;
      }
    }
    &:nth-child(2) {
      color: #333;
      padding-left: 3.4rem;
      margin-bottom: 4px;
    }
    &:nth-child(3) {
      color: #666;
      font-size: .875rem;
      padding-left: 3.4rem;
    }

  }
}

/********** login.html **********/

.login-page {
  padding: 0 10%;
  min-height: 100%;
  background: url("../image/login-bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.login-logo {
  width: 16rem;
  height: 15.625rem;
  margin: 0 auto;
  background: url("../image/login-logo.png") no-repeat;
  background-size: 100% 100%;
}

.login-form {
  font-size: 0.875rem;
  .form-item {
    position: relative;
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    &:last-child {
      border-bottom: none;
    }
  }
  label {
    position: absolute;
    width: 1.5rem;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    padding: 10px;
    padding-left: 1.5rem;
    background: none;
    box-sizing: border-box;
    &[type=submit] {
      padding-left: 0;
      margin-top: 2rem;
      background: #ff8400;
      font-size: 1.125rem;
      border-radius: 6px;
    }
  }

  .icon-mobile-phone {
    font-size: 22px;
  }
  .icon-lock {
    font-size: 18px;
  }
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }
}

.login-code {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  img {
    width: 4.75rem;
    height: 1.875rem;
  }

}

.login-actions {
  text-align: center;
  font-size: .875rem;
  overflow: hidden;
  margin: 0 auto;
  width: 11.25rem;
  a {
    display: block;
    float: left;
    color: rgba(255, 255, 255, .8);
    margin: 1rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
    &:first-child {
      border-right: 1px solid currentColor;
    }
  }
}

.login-ways {
  margin-top: 1.5rem;
  text-align: center;
  p {
    position: relative;
    font-size: .8rem;
    color: white;
    &:before, &:after {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      width: 32%;
      background: white;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  span {
    margin: .5rem 3rem 3rem;
  }
}

.login-via-sina {
  background-image: url("../image/icon/sina.png");
}

.login-via-qq {
  background-image: url("../image/icon/qq.png");
}

.login-via-sina,
.login-via-qq {
  width: 2rem;
  height: 2rem;
  background-size: cover;
}

/********** register.html **********/

.register-form {
  border-top: 1rem solid #e5e5e5;
  .form-item {
    position: relative;
    padding: 6px 1.5rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    color: #666;
    &:nth-child(n+5) {
      text-align: center;
      border-bottom: none;
      margin-top: 2rem;
    }
  }
  input[type=tel],
  input[type=text],
  input[type=password],
  input[type=submit] {
    width: 100%;
    padding: 10px;
    background: none;
    box-sizing: border-box;
    &[type=submit] {
      padding-left: 0;
      background: #ff8400;
      font-size: 1.125rem;
      border-radius: 6px;
      color: white;
    }
  }
  .icon-warning {
    color: #d6af82;
    font-size: .875rem;
    &:before {
      color: #eec069;
      font-size: 1.2rem;
      vertical-align: -3px;
      margin-right: 5px;
    }

  }
}

.register-validate-code {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: .5rem;
  color: #feb74d;
  border: 1px solid currentColor;
  border-radius: 4px;
}

.register-protocal {
  label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    span {
      width: 1rem;
      height: 1rem;
      background: url("../image/icon/icon-unchecked.png") no-repeat;
      background-size: cover;
    }
    input:checked + span {
      background: url("../image/icon/icon-checked.png") no-repeat;
      background-size: cover;
    }
  }
}

/********** register-addition.html **********/

.register-addition-form {

  .form-item {
    position: relative;
    padding: 6px 1.5rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    color: #666;
    &:last-child {
      text-align: center;
      border-bottom: none;
      margin-top: 2rem;
      padding-bottom: 3rem;
    }
  }

  label {
    width: 20%;
    display: inline-block;
    padding: 10px 0;
    float: left;
    width: 20%;
  }

  input,
  textarea,
  select {
    width: 80%;
    padding: 10px;
    background: none;
    box-sizing: border-box;
    &[type=submit] {
      padding-left: 0;
      background: #ff8400;
      font-size: 1.125rem;
      border-radius: 6px;
      color: white;
    }
  }
  .icon-warning {
    color: #d6af82;
    font-size: .875rem;
    &:before {
      color: #eec069;
      font-size: 1.2rem;
      vertical-align: -3px;
      margin-right: 5px;
    }

  }
}

.register-addition-avatar {
  background: #e5e5e5;
  margin: -6px -1.5rem;
  padding: 1rem 0;
  text-align: center;
  img {
    width: 5rem;
    height: 5rem;
  }
}

/********** my-follow.html **********/
.my-follow-page {
  .search-box {
    padding: .5rem 1rem;
    background: #e5e5e5;
  }
  .search-keyword {
    width: 85%;
    width: calc(100% - 3.5rem);
  }
}

.my-follow-list {

}

.follow-item {
  position: relative;
  line-height: 1.4;
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
  &:after {
    font-family: "icomoon";
    content: "\e910";
    color: #bdbdbd;
    margin-left: .5rem;
    vertical-align: -2px;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.6rem;
  }
  .follow-item-l {
    position: absolute;
  }
  .follow-item-r {
    padding: .2rem 0 .5rem 4rem;
    h3 {
      margin: 0;
      color: #333;
      font-size: .875rem;
    }
    span {
      width: 90%;
      height: 1.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: .8rem;
      color: #666;
      margin-top: .5rem;
    }
  }
}

/********** my-articles.html **********/

.my-articles-page {

}

.my-articles-list {
  padding: 1rem;
  .articles-item {
    position: relative;
    height: 4.5rem;
    font-size: .875rem;
    border-bottom: 1px solid #e2e2e2;
    padding: .6rem 0;
  }
  .item-l {
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  h3 {
    height: 1.4rem;
    line-height: 1.4rem;
    width: 100%;
    padding-left: 6.5rem;
    color: #454545;
    float: left;
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    @extend .txt-overflow;
  }
  .item-b {
    position: absolute;
    bottom: .5rem;
    right: 0;
    color: #b8b8b8;
    span {
      margin-left: 1rem;
    }
  }
}

/********** my-favorite.html **********/

.my-favorite-list {
  padding: 1rem;
  .favorite-item {
    position: relative;
    height: 4.5rem;
    font-size: .875rem;
    border-bottom: 1px solid #e2e2e2;
    padding: .6rem 0;
  }
  .item-l {
    position: absolute;
    width: 6rem;
    height: 4.5rem;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  h3 {
    height: 1.4rem;
    line-height: 1.4rem;
    width: 100%;
    padding-left: 6.5rem;
    color: #454545;
    float: left;
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    @extend .txt-overflow;
  }
  .item-b {
    position: absolute;
    bottom: .5rem;
    padding-left: 6.5rem;
    color: #b8b8b8;
    width: 100%;
    box-sizing: border-box;
    span {
      vertical-align: bottom;
    }
    .icon-group {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

/********** my-read.html **********/

.my-read-page {

}

.my-read-calendar {
  background: #575757;
  color: white;
  overflow: hidden;
  padding: .3rem 0;
  dl, dd {
    margin: 0;
  }
  dt, dd {
    position: relative;
    float: left;
    width: 12.5%;
    text-align: center;
    padding: .5rem 0;
  }
  span {
    display: block;
    margin-bottom: .2rem;
    &:first-child {
      font-size: 12px;
      color: #bebebe;
    }
  }
  dt {
    background: #666666;
    border-radius: 6px;
    em {
      font-size: 1.125rem;
      font-style: normal;
      color: #ff6c00;
    }
    span:last-child {
      font-size: 0.875rem;
    }
  }
  dd {
    &.active {
      background: #ff6c00;
      border-radius: 6px;
    }
    &.read {
      &:after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        bottom: .2rem;
        background: #bebebe;
        left: 50%;
        margin-left: -2px;
      }
    }
  }
}

/********** forget.html **********/

.forget-form {
  width: 80%;
  border-radius: 6px;

  margin: 3rem auto;

  .form-item {
    position: relative;
    color: #666;
    overflow: hidden;
    &:nth-child(1) {
      input {
        border-radius: 6px 6px 0 0;
      }
    }
    &:nth-child(4) {
      input {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 6px 6px;
      }
    }
  }
  input[type=tel],
  input[type=text],
  input[type=password],
  input[type=submit] {
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-bottom: none;
    &[type=submit] {
      padding-left: 0;
      background: #ff8400;
      font-size: 1.125rem;
      border-radius: 6px;
      color: white;
      margin-top: 3rem;
      border: none;
    }
  }
  .icon-warning {
    color: #d6af82;
    font-size: .875rem;
    line-height: 1.4;
    margin-top: 1.5rem;
    &:before {
      float: left;
      color: #eec069;
      font-size: 1.2rem;
      vertical-align: -3px;
      margin-right: 5px;
    }
  }
}

.forget-validate-code {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: .5rem;
  color: #feb74d;
  border: 1px solid currentColor;
  border-radius: 4px;
}

.forget-to-register {
  color: #666;
  display: block;
  margin: 2rem auto;
  width: 4rem;
}

/********** follow-list.html **********/

.follow-list-item {
  position: relative;
  line-height: 1.4;
  margin: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;

  .follow-item-l {
    position: absolute;
  }
  .follow-item-r {
    padding: .2rem 3.5rem .5rem 4rem;
    h3 {
      margin: 0;
      color: #333;
      font-size: .875rem;
    }
    span {
      width: 90%;
      height: 1.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: .8rem;
      color: #666;
      margin-top: .5rem;
    }
  }
}

.follow-btn {
  position: absolute;
  top: 50%;
  color: #ff8400;
  border: 1px solid currentColor;
  width: 3.4rem;
  padding: 6px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  right: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  @extend .icon-add;
  @extend [class^="icon-"];

  &.followed {
    color: #666;
    border: 1px solid #b8b8b8;
    &:before {
      content: "";
    }
  }
}

/********** contact.html **********/

.contact-logo {
  width: 6.2rem;
  height: 6.2rem;
  margin: 2rem auto;
  background: url("../image/contact.png") no-repeat;
  background-size: cover;
}

.contact-ways {
  padding: 0 1.5rem;
  color: #666;
}

.contact-item {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  font-size: .875rem;
  span {
    &:before {
      margin-right: 5px;
    }
  }
  > div {
    margin-bottom: 5px;
  }
}

.icon-placeholder {
  &:before {
    content: " ";
    display: inline-block;
    width: .875rem;
  }
}

.copyright {
  text-align: center;
  color: #999;
  font-size: 12px;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  line-height: 1.4;
}

/********** aboutus.html **********/

.aboutus-logo {
  width: 6.2rem;
  height: 6.2rem;
  margin: 2rem auto;
  background: url("../image/aboutus.png") no-repeat;
  background-size: cover;
}

.aboutus-version {
  text-align: center;
  color: #ff8a00;
  font-size: 1.5rem;
}

.aboutus-intro {
  color: #666;
  line-height: 1.4;
  font-size: .8rem;
  padding: 0 2rem;
  margin: 2rem 0;
}

.aboutus-more {
  li {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
    &:first-child {
      border-top: 1px solid #eaeaea;
    }
    span {
      float: right;
      color: #ff8400;
      &:after {
        font-family: "icomoon";
        content: "\e910";
        color: #bdbdbd;
        margin-left: .5rem;
        vertical-align: -2px;
        font-size: 1.2rem;
      }
    }
  }
  a {
    display: block;
    color: #333;
    overflow: hidden;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
  .page {
    min-height: 504px;
  }
}

