@charset "UTF-8";
@import "base/reset";
@import "base/common";
@import "component/modal";
@import "component/font";
@import "baiger";

.whisper-page {
  min-height: 100%;
  background: #e5e5e5;
  padding-bottom: 2rem;
  box-sizing: border-box;
  .zmt-nav-back {
    background: #f7f7f7;
  }
}

/********** whisper-list.html **********/

.whisper-list-type {
  text-align: center;
  color: #ff8400;
  margin: 10px;
  >div{
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ff8400;
    border-radius: 6px;
  }
  span {
    position: relative;
    padding: 5px 15px;
    float: left;
    box-sizing: border-box;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 16px;
      background: #ff8400;
      right: -1px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.active {
      background: #ff8400;
      color: white;
      &:after {
        display: none;
      }
    }
  }
}

.whisper-list-item {
  position: relative;
  padding: .5rem 1rem;
  border-bottom: 1px solid #d8d8d8;
  line-height: 1.4;
  .whisper-item-l {
    position: absolute;
  }
  .whisper-item-r {
    padding-left: 3rem;
    .top {
      color: #666;
      font-size: 0.75rem;
      padding: 6px 0;
      span {
        &:last-child {
          float: right;
        }
      }
    }
    .bottom {
      color: #333;
      font-size: 0.875rem;
      margin-top: .4rem;
      margin-bottom: 0;
    }
  }
  &.read,
  &.refuse {
    background: #fff;
    .bottom {
      color: #999;
    }
  }
}

.whisper-item-refuse {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  padding: .5rem;
  color: white;
  background: rgba(194, 181, 164, 0.9);
  -webkit-transform: rotate(-20deg);
  webkit-transform: rotate(-20deg);
}

.whisper-no-content {
  width: 7rem;
  height: 7rem;
  background: url(../image/no-content.png) center center;
  background-size: 100% 100%;
  margin: 5rem auto 1rem;
}

.whisper-word{
  text-align: center;
  color: #b0b0b4;
  margin: 0;
}

/********** whisper-ask.html **********/

.whisper-ask {
  width: 88%;
  color: #999;
  margin: 0 auto;
  line-height: 1.4;
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    height: 11.2rem;
    color: black;
  }
}

.pay-tip {
  font-size: .875rem;
  color: #666;
  text-align: center;
  em {
    font-style: normal;
    color: #ff8400;
  }
  span {
    font-size: .8rem;
    color: #999;
  }
}

.pay-btn {
  padding: .8rem;
  font-size: 1.125rem;
  color: white;
  background: #ff8400;
  width: 100%;
  border-radius: 6px;
  margin-top: 1rem;
}

/********** whisper-view-author.html **********/

.whisper-view {
  background: white;
  width: 88%;
  margin: 2rem auto;
  box-shadow: 1px 1px 2px 0 #ddd;
  box-sizing: border-box;
}

.question-box {
  padding: 1rem 1.5rem;
}

.question-person {
  border-bottom: 1px dotted #eaeaea;
  text-align: center;
  span {
    display: block;
    margin-bottom: .5rem;
    &:nth-child(1) {
      width: 2.3rem;
      height: 2.3rem;
      margin-left: auto;
      margin-right: auto;
      img {
        display: block;
        border-radius: 50%;
      }
    }
    &:nth-child(2) {
      color: #333;
    }
    &:nth-child(3) {
      color: #bfbfbf;
      font-size: .875rem;
    }
  }
}

.question-content {
  color: #666;
  line-height: 1.4;
}

.question-answer {
  display: none;
  border-top: 1px solid #eaeaea;
  padding: 0 1.5rem;
  p {
    color: #00baff;
  }
  textarea {
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 11.2rem;
    padding: 10px;
    width: 100%;
  }
  input {
    float: left;
    width: 50%;
    text-align: center;
    background: #f7f7f7;
    padding: .8rem;
    border-radius: 0;
  }
  .form-item {
    overflow: hidden;
    &:last-child {
      margin: 2rem -1.5rem 0;
      input:first-child {
        color: #666;
        border-right: 1px solid #efefef;
      }
      input:last-child {
        color: #ff8400;
      }
    }
  }
}

.question-btn {
  overflow: hidden;
  span {
    padding: .8rem;
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    background: #f7f7f7;
    &:first-child {
      border-right: 1px solid #efefef;
      color: #666;
    }
    &:last-child {
      color: #ff8400;
    }
    &:only-child {
      width: 100%;
      border-right: none;
    }
  }
}

/********** whisper-view-author.html **********/

.question-status {
  border-top: 1px solid #ddd;
  p {
    color: #d6af82;
    text-align: center;
    line-height: 1.4;
  }
}

/********** whisper-view-list.html **********/

.whisper-view-list {
  .item {
    width: 88%;
    padding: 1.5rem;
    padding-bottom: 0;
    margin: 1rem auto;
    background: white;
    box-sizing: border-box;
  }
  .head {
    position: relative;
    overflow: hidden;
    border-bottom: 1px dotted #eaeaea;
    padding-bottom: .5rem;
    h3 {
      font-weight: normal;
      margin: .5rem 0;
      font-size: .875rem;
    }
    span {
      float: left;
      color: #bfbfbf;
      font-size: .8rem;
      margin-right: .5rem;
    }
    .answer-marker {
      color: #ff8400;
      float: right;
      font-size: 1rem;
      margin-top: -1rem;
    }
  }
  .body {
    padding: 1rem 0;
    span {
      color: #ff8400;
    }
    p {
      color: #666;
      line-height: 1.4;
    }
  }
  .foot {
    margin: 0 -1.5rem;
    text-align: center;
    .pay-to-view {
      padding: .8rem 0;
      width: 100%;
      color: white;
      background: #ff8400;
    }
  }
  .item.no-answer {
    .foot {
      .pay-to-view {
        color: #d9d9d9;
        background: #afafaf;
      }
    }
    .head {
      .answer-marker {
        color: #d6af82;
      }
    }
  }
}

/********** whisper-view-detail.html **********/

.whisper-view-detail {
  padding: 1.5rem;
  .detail-inner {
    box-shadow: 1px 1px 2px #c3c3c3;
  }
  .detail-question {
    background: #f7f7f7;
    padding: 1.5rem;
    padding-bottom: 0;
    .head {
      position: relative;
      overflow: hidden;
      padding-bottom: .5rem;
      h3 {
        font-weight: normal;
        margin: .5rem 0;
        font-size: .875rem;
      }
      span {
        float: left;
        color: #bfbfbf;
        font-size: .8rem;
        margin-right: .5rem;
      }

    }
    .body {
      padding: 1rem 0;
      span {
        color: #ff8400;
        float: left;
      }
      p {
        color: #666;
        line-height: 1.4;
        margin: 0;
      }
    }
  }

  .detail-answer {
    background: #fff;
    padding: 1.5rem;
    padding-bottom: 0;
    border-top: 2px solid #eaeaea;
    .head {
      position: relative;
      overflow: hidden;
      padding-bottom: .5rem;
      h3 {
        font-weight: normal;
        margin: .5rem 0;
        font-size: .875rem;
        text-align: right;
      }
      span {
        float: right;
        color: #bfbfbf;
        font-size: .8rem;
        margin-left: .5rem;
      }

    }
    .body {
      padding: 1rem 0;
      span {
        color: #00baff;
        float: left;
      }
      p {
        color: #666;
        line-height: 1.4;
        margin: 0;
      }
    }
  }

  .detail-view {
    background: white;
    text-align: center;
    border-top: 1px dotted #eaeaea;
    padding: 1rem;
    a {
      color: #bfbfbf;
      font-size: .8rem;
    }
    .detail-attitude {
      margin-top: 1.5rem;
      span {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 50%;
        color: white;
        font-size: 1.4rem;
        margin: 0 2rem;
        &.icon-thumbs-up {
          background: #ff8400;
        }
        &.icon-thumbs-down {
          background: #a0a0a0;
        }
        em {
          display: block;
          color: #999;
          font-size: 12px;
          font-style: normal;
          margin-top: -0.5rem;
        }
      }
    }
  }

}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
  .hd-wrap-inner {
    min-height: 504px;
  }
}